.header


.toppage


.product
  成果物

.skill
  スキル
.cp_cssslider
  %input#photo1{:checked => "checked", :name => "cp_switch", :type => "radio"}/
  %label{:for => "photo1"}
    %img{src: "/assets/136341.png"}/
  %img{:src => "/assets/136341.png"}/
  %input#photo2{:name => "cp_switch", :type => "radio"}/
  %label{:for => "photo2"}
    %img{:src => "/assets/20150804010349-min.png"}/
  %img{:src => "/assets/20150804010349-min.png"}/
  %input#photo3{:name => "cp_switch", :type => "radio"}/
  %label{:for => "photo3"}
    %img{:src => "/assets/Iruby (2).png"}/
  %img{:src => "/assets/Iruby (2).png"}/
  %input#photo4{:name => "cp_switch", :type => "radio"}/
  %label{:for => "photo4"}
    %img{:src => "/assets/rails_logo (1).png"}/
  %img{:src => "/assets/rails_logo (1).png"}/
  %input#photo5{:name => "cp_switch", :type => "radio"}/
  %label{:for => "photo5"}
    %img{:src => "/assets/20180406164029-min.png"}/
  %img{:src => "/assets/20180406164029-min.png"}/
  %input#photo6{:name => "cp_switch", :type => "radio"}/
  %label{:for => "photo6"}
    %img{:src => "/assets/jquery.png"}/
  %img{:src => "/assets/jquery.png"}/
.prof
  プロフィール
  

%form
  .item
    %label.label お名前
    %input.inputs{:name => "name", :type => "text"}/
  .item
    %label.label メールアドレス
    %input.inputs{:name => "email", :type => "email"}/
  .item
    %label.label ご意見
    %textarea.inputs
  .btn-area
    %input{:type => "submit", :value => "送信"}/
    %input{:type => "reset", :value => "リセット"}/

