.form{
  width:650px;
  margin:0 auto;
  padding-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}

.formimage {
  margin:0 auto;
  width:500px;
}

.prof, .product, .skill {
  text-align:center;
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}